body {
  font-family: 'Lato', sans-serif !important;
}
a:hover {
  text-decoration: none !important;
}
.anchor {
  color: #000;
}
.header_anchor {
  color: #000;
  cursor: pointer;
}
div.scrollmenu {
  display: flex;    
  overflow-x: auto;
  margin: 15px 0;
}

.cover__image {
  border-radius: 10px;
  cursor: pointer;
 
}

div.scrollmenu img {    
  margin: 15px 10px 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  /* max-width: 100px; */
}
.ant-layout-header {
  line-height: 58px !important;
}
@media screen and (max-width: 900px) {
  div.scrollmenu img {
    max-width: 120px;  /* for mobile image size */
  }
  .container-fluid {
    padding: 8px !important;
  }
  .cover__image {
    width: 100%;
  }
  .cover_image_board {
    text-align: center;
  }
  .ant-layout-header {
    padding: 0 30px !important; 
  }
}
@media screen and (min-width: 900px) {
  .cover__image {
    width: 80%;
  }
}
div.scrollmenu img:hover {
  transform: scale(1.1);
}

div.scrollmenu::-webkit-scrollbar {    
  display: none;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.ant-menu-inline {
  border: 0 !important;
}
.ant-drawer-body  {
  padding: 0 !important;
}
.ant-tag {
  padding: 8px !important;
  font-size: 15px !important;
}
.ant-layout-header {
  background-color: #fff !important;
}
/* .ant-menu {
  padding: 0 10px !important;
}
.ant-menu-item, .ant-menu-submenu-title {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 20px;
  margin: 20px 0 !important;
  padding: 0 10px !important;
  text-align: center;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #ffffff !important;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: 0px !important;
}

.ant-layout-sider  {
  background: #fff !important;
}

.ant-layout-sider-zero-width-trigger {
  position: absolute ;
  top: 8px !important;
  font-size: 24px !important;
  line-height: 34px !important;
  color: #000 !important;
  background-color: #fff !important;
} */
